<ion-header-bar align-title="center" class="bar-stable sub-header">
 
 	<h1 class="title">Contato da Corregedoria</h1>
  </ion-header-bar>
  <br>
  <br>	

	<ion-list>

	<ion-item class="item-divider">
	<i class="fa fa-user"></i> Corregedor Geral
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> Antonio Peterson</h4></ion-item>

	<ion-item class="item-divider">
	<i class="fa fa-users"></i> Funcionários:
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> Mariana Bouerers, Luadyna Pestana e Rita de Cássia</h4></ion-item>

	<ion-item class="item-divider">
	<i class="fa ion-ios7-telephone"></i> Ramal:
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> 258</h4></ion-item>

	<ion-item class="item-divider">
	<i class="fa ion-ios7-email"></i> Email:
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> corregedoria@dpe.ma.gov.br</h4></ion-item>

	</ion-list>
	
