<ion-header-bar align-title="center" class="bar-stable sub-header">
 
 	<h1 class="title">Contato da Div. de Análise e Desenvolvimento de Sistema</h1>
  </ion-header-bar>
  <br>
  <br>	

	<ion-list>

	<ion-item class="item-divider">
	<i class="fa fa-user"></i> Chefe da Divisão
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i>José Alano Peres de Abreu Junior</h4></ion-item>

	<ion-item class="item-divider">
	<i class="fa fa-users"></i> Estagiários:
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> Bruno Leonardo e Ricardo Aranha</h4></ion-item>

	<ion-item class="item-divider">
	<i class="fa ion-ios7-telephone"></i> Ramal:
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> 244</h4></ion-item>

	<ion-item class="item-divider">
	<i class="fa ion-ios7-email"></i> Email:
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> analisedesistemas@dpe.ma.gov.br</h4></ion-item>

	</ion-list>
	
