<ion-header-bar align-title="center" class="bar-stable sub-header">
 
  <h1 class="title">Acordo e Mediação - Consulta</h1>
  </ion-header-bar> 
  <br>
  <br>
 {{msg}}
 <label class="item item-input item-select">
    <div class="input-label">
      Pesquisar Por:
    </div>
    
    <select ng-model="tipo" ng-init="tipo='nome'">
      <option value="data">Data</option>
      <option value="nome" selected >Nome do Assistido </option>
    </select>

  </label>
<br>

<div class="list list-inset">  
<label ng-show="tipo == 'data'" class="item item-input">
  <span class="input-label">Data Inicial: </span>
  <input ng-model="valor['datainicio']" type="date" />
</label>

<label ng-show="tipo == 'data'" class="item item-input">
  <span class="input-label">Data Final: </span>
  <input ng-model="valor['datafim']" type="date" />
</label>

<label ng-show="tipo == 'nome'" class="item item-input">
  <span class="input-label">Nome do Assistido: </span>
  <input ng-model="valor['assistido']" type="text" />
</label>

<button ng-click="buscar(tipo,valor)" class="button button-block button-dark">
      Buscar
       <i class="fa fa-search"></i>
    </button>
</div>
