<ion-header-bar align-title="center" class="bar-stable sub-header">
  <div class="buttons">
    <a href="#/dadosassistido/lista" class="button fa fa-arrow-left button-clear"> Voltar </a>
  </div>
 	<h1 class="title">Dados do Assistido - Item</h1>
  </ion-header-bar>
<br />
<br />
<br />
<ion-list>
	<ion-item class="item-divider">
		<i class="fa fa-users"></i> Dados Assistido(s)
	</ion-item>
	<ion-item>
		<h4>Assistido(s): {{item.stratendido}}</h4>
	</ion-item>
	<ion-item>
		<h4>Mãe: {{item.strmae}}</h4>
	</ion-item>
	<ion-item>
		<h4>Pai: {{item.strpai}}</h4>
	</ion-item>
	<ion-item>
		<h4>Naturalidade: {{item.strnaturalidade}}</h4>
	</ion-item>
	<ion-item>
		<h4>Estado Civil: {{item.strestadocivil}}</h4>
	</ion-item>
	<ion-item>
		<h4>Profissão: {{item.strprofissao}}</h4>
	</ion-item>
	<ion-item>
		<h4>RG: {{item.strnumero}}</h4>
	</ion-item>
	<ion-item>
		<h4>CPF: {{item.strnumero2}}</h4>
	</ion-item>
	<ion-item>
		<h4>Endereco: {{item.strendereco}}</h4>
	</ion-item>
	<ion-item>
		<h4>Bairro: {{item.strbairro}}</h4>
	</ion-item>
	<ion-item>
		<h4>Cidade: {{item.strcidade}}</h4>
	</ion-item>
	<ion-item>
		<h4>Estado: {{item.struf}}</h4>
	</ion-item>
	<ion-item>
		<h4>CEP: {{item.strcep}}</h4>
	</ion-item>
	<ion-item>
		<h4>Data nasc.: {{item.dtanascimento_format}}</h4>
	</ion-item>
	<ion-item>
		<h4>Sexo: {{item.strsexo}}</h4>
	</ion-item>
	<ion-item>
		<h4>Tel. Fixo: {{item.strfoneresidencial}}</h4>
	</ion-item>
	<ion-item>
		<h4>Celular: {{item.strcelular}}</h4>
	</ion-item>

</ion-list>