<ion-header-bar align-title="center" class="bar-stable sub-header">
  <div class="buttons">
    <a href="#/juri/lista" class="button fa fa-arrow-left button-clear"> Voltar </a>
  </div>
 	<h1 class="title">Juri - Item</h1>
  </ion-header-bar>
<br>
<br>
<br>
<ion-list>
	<ion-item class="item-divider">
		<i class="fa fa-users"></i>  Assistido(s)
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> {{item.stratendido}}</h4></ion-item>
	
	<ion-item class="item-divider">
		<i class="fa fa-cogs"></i> Serviço
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> {{item.strservico}}</h4></ion-item>

	<ion-item class="item-divider">
		<i class="fa fa-exclamation"></i> Realizado
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> {{(item.bolrealizado == '1' || item.bolrealizado == '0') ? 'SIM' : 'NÃO'}}</h4></ion-item>
	
	<ion-item class="item-divider">
		<i class="fa fa-gear"></i> Num. Processo
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> {{item.intnumprocesso}}</h4></ion-item>
	<ion-item class="item-divider">
		<i class="fa fa-calendar"></i> Data
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> {{item.dtajuri}}</h4></ion-item>
	<ion-item class="item-divider">
		<i class="fa fa-institution"></i> Comarca
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> {{item.strcomarca}}</h4></ion-item>
	<ion-item class="item-divider">
		<i class="fa fa-flag"></i> Vara
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> {{item.strvara}}</h4></ion-item>
	<ion-item class="item-divider">
		<i class="fa fa-flask"></i> Observação
	</ion-item>
	<ion-item><h4><i class="fa fa-share"></i> {{item.strobservacao}}</h4></ion-item>

</ion-list>