<ion-header-bar align-title="center" class="bar-stable sub-header">
  <div class="buttons">
    <a href="#/juri" class="button fa fa-arrow-left button-clear"> Voltar </a>
  </div>
 	<h1 class="title">Juri - Lista</h1>
  </ion-header-bar>
  <br>
  <br>	
	<ion-list>
	  <ion-item ng-repeat="item in itens">
		
      <p><i class="icon ion-forward"></i> <b>N° Proc.: </b> {{item.intnumprocesso}}</p>
	  <p><i class="icon ion-person-stalker"></i> <b>Assistido: </b> {{item.stratendido}}</p>
	  <p><i class="icon ion-flag"></i> <b>Serviço: </b>{{item.strservico}}</p>
	  <p><i class="icon ion-location"></i> <b>Comarca/Vara: </b>{{item.strcomarca}} / {{item.strvara}}</p>
	  <p> <i class="icon ion-calendar"></i> <b>Data juri: </b>{{item.dtajuri}}</p>
		<button ng-click="ver(item)" class="button button-block button-balanced button-small">
			<i class="icon ion-eye"></i> Detalhes
		</button>
	  </ion-item>
	  <br>
	  <center>
	  		 <button class="button button-positive button-small  button-outline" ng-click="mais()"><i class="icon ion-arrow-down-c"></i> Ver mais</button>
	  </center>
	 
	</ion-list>
	
