<ion-header-bar align-title="center" class="bar-stable sub-header">
 
 	<h1 class="title">Sobre o Sistema - SAGAP-MOBILE</h1>
  </ion-header-bar>
  <br>
  <br>
    <br>		
    <ion-content>	
	<center>
		  <img src="img/logo.png" width="150"/>
	</center>

	<p style="margin:10px" align="center">Este sistema foi desenvolvido com o intuito de melhorar a produtividade dos defensores para a consulta de informações do sistema SAGAP de forma rápida e prática usando um dispositivo movel qualquer.</p>
	<p style="margin:10px" align="center"><b>Desenvolvedores Responsáveis:</b><br><br>
<b>Etapa de Desenvolvimento</b><br> 
<a target="_blank" href="http://br.linkedin.com/pub/alano-junior/21/b61/934">José Alano Peres de Abreu Junior</a><br> 
<a target="_blank" href="https://www.linkedin.com/profile/view?id=254527132">Bruno Leonardo (Estagiário)</a> <br /> 
<a target="_blank" href="#" >Felipe Campos (Estagiário)</a> <br /> 
<a target="_blank" href="https://www.linkedin.com/profile/view?id=120844279" >Ricardo Aranha (Estagiário)</a> <br><br>
<b>Layout</b><br><a target="_blank" href="https://www.linkedin.com/profile/view?id=205002028" >Felipe Campos (Estagiário)</a>
</p>
</ion-content>