<ion-side-menu side="right">
  
  <ion-content>
    <div style="text-align:center" class="item item-divider">
        Contatos
      </div>
    <ul class="list">
      <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
      <a href="#/contatoinform" class="item" menu-close>Div. de Analise e Desenvolvimento de Sistemas</a>
      <a href="#/contatocorreg" class="item" menu-close>Corregedoria</a>
    </ul>
  </ion-content>
</ion-side-menu>