<div class="bar bar-header bar-positive">
  <h1 class="title">Perfil</h1>
  <button class="button  button-positive">Editar</button>
</div>
<ion-content class="bar-subheader">
<ion-list>

  <ion-item class="item-divider">
    Dados
  </ion-item>

  <ion-item>
    <b>Nome:</b> {{item.nome}}
  </ion-item>
  <ion-item>
    <b>CPF:</b> {{item.cpf}}
  </ion-item>
  <ion-item>
    <b>Data de Nascimento:</b> {{item.nascimento}}
  </ion-item>
  <ion-item>
    <b>Celular:</b> {{item.celular}}
  </ion-item>

  <ion-item class="item-divider">
    Endereço
  </ion-item>
 <ion-item>
    <b>Logradouro:</b> {{item.endereco}}
  </ion-item>
  <ion-item>
    <b>Complemento:</b> {{item.complemento}}
  </ion-item>
  <ion-item>
    <b>CEP:</b> {{item.cep}}
  </ion-item>

</ion>
 </ion-content>